bkp/orders.json
{
  "name": "orders",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "just_started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7e737d2-56c8-4d64-8d5d-21bf5d1740c8",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "choosing_products",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c160bb75-cbed-45cb-9ede-ec6c70b68da2",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "=updating_products",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "235b62a7-b1e3-4462-a665-8c9700a69933",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "confirming_products",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1104,
        -4496
      ],
      "id": "597baa20-d34a-4059-a1df-eccdc10c93a7",
      "name": "start stage process",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bf32139d-ca1f-4d01-bc45-9d4809368fa9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5296,
        -960
      ],
      "id": "5a93303b-6211-4188-bd1e-54c3be84dcd2",
      "name": "Webhook1",
      "webhookId": "998ea582-5067-4362-b677-96c6f9991a7f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "just_started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "just_started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7e737d2-56c8-4d64-8d5d-21bf5d1740c8",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "starting_answer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "starting_answer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c160bb75-cbed-45cb-9ede-ec6c70b68da2",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "first_ordering",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "first_ordering"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df3c0ef8-f6e0-4e28-b428-a6ec6068a238",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "late_ordering",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "late_ordering"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "235b62a7-b1e3-4462-a665-8c9700a69933",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "getting_open_time",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getting_open_time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "205bb113-046a-41c6-b8d6-3650dfd6c8ec",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "getting_address",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getting_address"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "edd9dba6-2f8a-4bf2-97d6-d9be4ae48022",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "getting_human_help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "getting_human_help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdafcff5-b3a7-472d-a486-5902dd46463b",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "order_checking",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_checking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c53f843-ad6e-4bea-b630-1f315cb3f119",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "order_checking_confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_checking_confirmation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9daa6627-bbca-4b7b-9630-e707cb5b2d5d",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "order_confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_confirmation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "27bbc3a1-58af-4be8-b364-a63b39ea893f",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "cancel_confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel_confirmation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a50ae19-b492-4224-8396-3b442de7ba39",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "choosing_delivery_method",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "choosing_delivery_method"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77ba1ef3-bf13-4e55-9f5a-1335eed79a13",
                    "leftValue": "={{ $json.body.order_status }}",
                    "rightValue": "order_finishing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_finishing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4928,
        -1184
      ],
      "id": "7018a3b5-aa70-4370-9788-5405c4a84490",
      "name": "start stage process1",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'starting_answer' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2784,
        -3008
      ],
      "id": "233f0a4e-4bb2-4088-b730-40ddf906baea",
      "name": "set next step1",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"👋 Olá! Bem-vindo à {{ $json.name }}\\nSou seu assistente virtual e posso te ajudar com o que precisar.\\nMe diga com o que posso te ajudar ou escolha uma opção:\\n1️⃣ Ver o cardápio e fazer um pedido\\n2️⃣ Consultar o horário de funcionamento\\n3️⃣ Ver o endereço\\n4️⃣ Falar com um atendente\\n5️⃣Acompanhar pedido em andamento\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -3008,
        -3008
      ],
      "id": "8b58dc55-3c74-48f2-b61a-d1714bab4c8e",
      "name": "msg send",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $json.body.order_id }}\", \"message\": { \"main_text\":\n\"Ótimo! Aqui está o nosso cardápio:\\n\\n{{ $json.body.menu.map((it, i) => [...`${i+1}`].map(d => d + '\\uFE0F\\u20E3').join('') + ` ${it.name} - R$ ${it.price.replace('.',',')}`).join(\"\\\\n\") }}\\n\\nPode escrever seu pedido normalmente. Estou entendendo tudo! 😄\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2928,
        -2688
      ],
      "id": "e53bdde2-b142-44ba-94a3-707929acdf8e",
      "name": "msg send1",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.name from business b join unit u on b.id = u.business_id where u.id = '{{ $('Webhook1').item.json.body.unit_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3312,
        -3008
      ],
      "id": "67850cb5-eca8-4f5c-8003-ad7f02556831",
      "name": "get business name",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET finished_at = current_timestamp() WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3376,
        -800
      ],
      "id": "2a5daaa3-168c-4317-a69b-8f61ad832583",
      "name": "close order2",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'first_ordering' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2624,
        -2688
      ],
      "id": "093c08b7-3476-444c-a692-3aa1e4bf10a3",
      "name": "set next step2",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "285f2d45-de81-4ea9-9841-a3b1b26c7db2",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51fc66c3-67c3-4617-8b04-c8599213548c",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed77f8f4-2013-4dac-9604-cd759c78ede9",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8ab7b2c7-23f2-4312-b0da-597e01355f92",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "5"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3296,
        -2224
      ],
      "id": "12ce6bfb-f218-47a8-89de-225344ee1de2",
      "name": "starting_answer",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $json.body.order_id }}\", \"message\": { \"main_text\":\n\"🕒 *Estamos abertos todos os dias! *\\nFuncionamos de *segunda a domingo*, das *19h às 00h*.\\nQuer fazer seu pedido agora ou prefere voltar ao menu?\",\n\"buttons\": { \"rows\": [\n{ \"id\": \"1\", \"title\": \"🍕 Fazer pedido\" },\n{ \"id\": \"2\", \"title\": \"🔙 Voltar ao menu\" }\n]}\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2928,
        -2496
      ],
      "id": "f97baf36-303d-435f-8251-f12108de1184",
      "name": "msg send2",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'getting_open_time' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2624,
        -2496
      ],
      "id": "a9813622-7b6c-469f-9943-f8e8ba89396b",
      "name": "set next step3",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"📍 Estamos localizados na {{ $json.address }}.\\nVenha nos visitar! Estacionamento gratuito. 🚗\\nDeseja fazer um pedido agora?\",\n\"buttons\": { \"rows\": [\n{ \"id\": \"1\", \"title\": \"🍕 Fazer pedido\" },\n{ \"id\": \"2\", \"title\": \"🔙 Voltar ao menu\" }\n]}\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2624,
        -2288
      ],
      "id": "0684838b-ab10-4595-ba1c-42ca7281e8ca",
      "name": "msg send3",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'getting_address' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2416,
        -2288
      ],
      "id": "990c6fe5-6a8e-4a6a-afb1-4510f0fa354c",
      "name": "set next step4",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $json.body.order_id }}\", \"message\": { \"main_text\":\n\"🧑‍💬 *Precisa de uma ajudinha?*  Sem problemas! Um dos meus colegas pode te ajudar direto no WhatsApp.\\nÉ só me chamar no número: *(11) 99999-9999*\\n(Atendimento de segunda a domingo, das 19h às 00h)\",\n\"buttons\": { \"rows\": [\n{ \"id\": \"1\", \"title\": \"💬 Chamar no WhatsApp\" },\n{ \"id\": \"2\", \"title\": \"🔙 Voltar ao menu\" }\n]}\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2928,
        -2096
      ],
      "id": "36564185-7e63-4b9e-b611-08a9bb96798c",
      "name": "msg send4",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'getting_human_help' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2624,
        -2096
      ],
      "id": "07f2b25a-2653-432c-a8e9-2c8df013abf3",
      "name": "set next step5",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $json.body.order_id }}\", \"message\": { \"main_text\":\n\"Digite o número do seu pedido para visualizar o status 📦\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2928,
        -1872
      ],
      "id": "d3bdc1e6-6d9b-45f1-84a6-83b807bf3fef",
      "name": "msg send5",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'order_checking' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2624,
        -1872
      ],
      "id": "a41b12fd-089e-460b-864a-50de7beea758",
      "name": "set next step6",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $json.body.order_id }}\", \"message\": { \"main_text\":\n\"😅 Opa! Não entendi bem o que você quis dizer.\\nPor favor, escolha uma das opções abaixo ou me diga o que deseja:\\n1️⃣ Ver o cardápio e fazer um pedido\\n2️⃣ Consultar o horário de funcionamento\\n3️⃣ Ver o endereço\\n4️⃣ Falar com um atendente\\n5️⃣Acompanhar pedido em andamento\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2928,
        -1664
      ],
      "id": "57b00888-727f-4678-ae47-ad0a5f20eff4",
      "name": "msg send6",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select concat(street_name, ', ', street_number, ' - ', neighborhood, ', ', city, '/', state) as address from unit where id = '{{ $('Webhook1').item.json.body.unit_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2928,
        -2288
      ],
      "id": "48c2b4fd-fde3-4b45-94c3-7f0579a31e04",
      "name": "get address",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "285f2d45-de81-4ea9-9841-a3b1b26c7db2",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3776,
        -1136
      ],
      "id": "f11b9f56-afdf-4650-986f-37ec6c6a2a5a",
      "name": "router",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "285f2d45-de81-4ea9-9841-a3b1b26c7db2",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3776,
        -960
      ],
      "id": "2fa87840-2507-4997-a70b-0e257a3d804e",
      "name": "router1",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "285f2d45-de81-4ea9-9841-a3b1b26c7db2",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3776,
        -784
      ],
      "id": "9c869635-0c6f-45a1-9267-69cf26d652a4",
      "name": "router2",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"https://wa.me/11999999999\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -3536,
        -800
      ],
      "id": "bcee7e03-efed-4e05-ad4c-d8a12922c7bb",
      "name": "msg send7",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"✅ Pedido #{{ $('Webhook1').item.json.body.message }} localizado!\\n📦 Status atual: A ser definido pelos analistas 🧠\",\n\"buttons\": { \"rows\": [\n{ \"id\": \"1\", \"title\": \"🔙 Voltar ao menu\" }\n]}\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2512,
        -336
      ],
      "id": "d8bc39e1-4abc-4854-93ac-0ba1e797dc2b",
      "name": "msg send8",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'order_checking_confirmation' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2288,
        -144
      ],
      "id": "2dfce640-cae2-4894-b542-f2fc1cb57ca0",
      "name": "set next step7",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT finished_at, canceled_at from orders.order where id = '{{ $('Webhook1').item.json.body.message }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3104,
        -144
      ],
      "id": "f79a3530-e5f3-4150-81d6-47d95c4ae3e8",
      "name": "search order",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0003d376-dd2c-4943-856c-936f3c961c3e",
              "leftValue": "={{ $('search order').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9e842ecb-0d6d-46c3-a8cc-b8128b1d0b31",
              "leftValue": "={{ $json.finished_at }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8332e64d-a966-45c4-a2b6-ae3dc22a2e8b",
              "leftValue": "={{ $json.canceled_at }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2816,
        -144
      ],
      "id": "c40c40b5-c5f3-4689-9d25-b42fc732fb62",
      "name": "If2"
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"O Pedido #{{ $('Webhook1').item.json.body.message }} *não* foi localizado\",\n\"buttons\": { \"rows\": [\n{ \"id\": \"1\", \"title\": \"🔙 Voltar ao menu\" }\n]}\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2512,
        -144
      ],
      "id": "b45fde9e-baf3-4c53-82a3-3b7ee0d2446b",
      "name": "msg send9",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2992,
        -1120
      ],
      "id": "237f668a-53c5-44ab-b486-eb5c180f5ab2",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2944,
        -896
      ],
      "id": "16ea81fa-ddde-43e4-a9e7-3f76d27ec5d8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CBVu4Lx7eWRXjPqd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  var input = item.json.output\n  item.json.body = $('Webhook1').first().json.body\n  for (let i = 0; i < input.length; i++) {\n    for (const itemMenu of item.json.body.menu) {\n      if (input[i].id == itemMenu.id) {\n        input[i].price = itemMenu.price\n      }\n    }\n  }\n  item.json.body.parsedAIResponse = input\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        -1280
      ],
      "id": "1738143c-78f8-4311-92ed-00487f1d8c76",
      "name": "parse AI response1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = \"order_confirmation\" WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1952,
        -1280
      ],
      "id": "5f93de0f-55f3-4133-8596-a86c731ea6ed",
      "name": "MySQL2",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"array\",\n    \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"id\": {\n                \"type\": \"string\"\n            },\n            \"name\": {\n                \"type\": \"string\"\n            },\n            \"amount\": {\n                \"type\": \"integer\"\n            },\n            \"notes\": {\n                \"type\": [\n                    \"string\",\n                    null\n                ]\n            }\n        },\n        \"required\": [\n            \"id\",\n            \"name\",\n            \"amount\",\n            \"notes\"\n        ]\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2832,
        -896
      ],
      "id": "40807539-77e9-4e63-88fc-aba3a589a895",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40000e36-6e01-48fb-b178-f2422c6abf8d",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2608,
        -1216
      ],
      "id": "a273d7de-4ab8-48b0-8032-899e8e88acab",
      "name": "If3",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET current_cart = '{{ JSON.stringify($json.output) }}' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1504,
        -1280
      ],
      "id": "f39b9a8e-dda3-40a1-b1b6-67eb867a6e92",
      "name": "MySQL3",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const input = $('parse AI response1').first().json.body.parsedAIResponse\n  const resultArray = []\n  for (let i = 0; i < input.length; i++) {\n    const currentItem = input[i];\n    const jsonString = JSON.stringify(currentItem);\n    const sanitized = jsonString.replace(/'/g, \"''\");\n    resultArray.push(JSON.parse(sanitized));\n  }\n  item.json.output = resultArray\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        -1280
      ],
      "id": "6e1d6016-a74c-415b-a2cf-6cd48c332581",
      "name": "fixing json field before insert1"
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"🤔 Opa! Parece que não entendi direito o seu pedido.  Você pode tentar assim: \\\"Quero uma batata frita e um hamburguer com molho extra\\\"\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2384,
        -1040
      ],
      "id": "b5455a9f-7366-4c2b-9d73-c0877fd26acd",
      "name": "error dump1",
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "650ad507-8c1c-4569-a38f-b1606e6a3084",
              "name": "chatInput",
              "value": "=Você é um assistente que interpreta pedidos de clientes em linguagem natural e converte em uma lista estruturada de itens de um cardápio.\n\nO cardápio atual é:\n{{ $json.body.menu.map((it, i) => JSON.stringify({ id: it.id, number: i+1, name: it.name, })).join(\"\\n\") }}\n\nO usuário pode:\n- Adicionar novos itens ao pedido anterior\n- Alterar a quantidade ou detalhes de um item anterior\n- Remover algum item já pedido\n\nSempre retorne a **lista final** completa dos itens do pedido, já atualizada com as alterações solicitadas.\n\nRetorne o resultado em formato JSON com os seguintes campos:\n- id\n- name\n- amount\n- notes (Caso seja necessário, insira aqui observações sobre o produto)\n\nSe necessário, interprete quantidades e modificações mesmo que o cliente não use números diretamente (ex: \"mais um\", \"troque\", \"sem ketchup\", etc.).\n\nFrase do cliente: \"{{ $json.body.message }}\"\n\nItens do pedido anterior:\n{{ $json.body.products.map((it) => JSON.stringify(it)).join(\"\\n\") }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3328,
        -1024
      ],
      "id": "82a73e83-a4cc-4dd7-bc32-40a74eb13fcc",
      "name": "update prompt1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "650ad507-8c1c-4569-a38f-b1606e6a3084",
              "name": "chatInput",
              "value": "=Você é um assistente que converte pedidos de linguagem natural em itens de um cardápio. \nDado o seguinte cardápio:\n\n{{ $json.body.menu.map((it, i) => JSON.stringify({ id: it.id, number: i+1, name: it.name, })).join(\"\\n\") }}\n\nRetorne uma lista JSON com os itens mencionados na frase do usuário, contendo os campos:\n- id\n- name\n- amount\n- notes (caso seja necessário, insira aqui observações sobre o produto)\n\nFrase: \"{{ $json.body.message }}\"\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3328,
        -1248
      ],
      "id": "ad9b5582-26e2-4bfb-839c-821c364884e6",
      "name": "insert prompt1"
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"Ótimo! Aqui está o resumo do seu pedido:\\n{{ $json.body.parsedAIResponse.map((it) => `${it.amount} ${it.name} ${it.notes ?? \"\"}`).join(\"\\\\n\") }}\\n*💰 Total parcial*: R$ {{ $json.body.parsedAIResponse.reduce((acc, it) => acc+(it.amount*Number(it.price)), 0).toFixed(2).replace(\".\",\",\") }}\\nSe quiser, você ainda pode fazer ajustes no seu pedido — trocar sabores, adicionar ou remover itens.\\n🧾 Se preferir, também dá pra cancelar o pedido a qualquer momento — sem complicações.\\nFicou do jeitinho que você queria? Se sim, é só seguir para a finalização. Estamos quase lá! 🚀\",\n\"buttons\": { \"rows\": [\n{ \"id\": \"1\", \"title\": \"✏️ Alterar pedido\" },\n{ \"id\": \"2\", \"title\": \"❌ Cancelar\" },\n{ \"id\": \"3\", \"title\": \"✅ Finalizar pedido\" }\n]}\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2176,
        -1280
      ],
      "id": "d24050bf-1c2c-42bd-b88b-eadd9c0093c5",
      "name": "send order confirmation1",
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "285f2d45-de81-4ea9-9841-a3b1b26c7db2",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8f7556fb-539f-4580-8da8-34cd67447083",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2336,
        352
      ],
      "id": "394d945e-26fc-44f6-9da4-9995cbfdff6e",
      "name": "router3",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'late_ordering' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1696,
        80
      ],
      "id": "2eb917d9-4384-4418-9891-ab7dc686d687",
      "name": "set next step8",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"Novamente, aqui está o nosso cardápio:\\n\\n{{ $json.body.menu.map((it, i) => [...`${i+1}`].map(d => d + '\\uFE0F\\u20E3').join('') + ` ${it.name} - R$ ${it.price.replace('.',',')}`).join(\"\\\\n\") }}\\n\\nO que gostaria de fazer agora?\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -1984,
        80
      ],
      "id": "d75c01c4-96e7-4c83-991b-cbb3703d4cd6",
      "name": "msg send10",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'cancel_confirmation' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1728,
        256
      ],
      "id": "15493f4f-5323-48a8-909f-4e8472892746",
      "name": "set next step9",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"⚠️ Você realmente quer cancelar seu pedido?\\nA gente entende, às vezes a fome muda de ideia. 😅\\nSe quiser, você ainda pode editar seu pedido em vez de cancelar tudo.\\nSe estiver certo mesmo, é só confirmar aqui embaixo.\",\n\"buttons\": { \"rows\": [\n{ \"id\": \"1\", \"title\": \"🔙 Voltar\" },\n{ \"id\": \"2\", \"title\": \"❌Cancelar pedido\" }\n]}\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2032,
        256
      ],
      "id": "599a2483-3e03-4027-b73d-c423c559f277",
      "name": "msg send11",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'choosing_delivery_method' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1728,
        448
      ],
      "id": "bffc8a0a-3cef-493b-af94-180b5ac4d979",
      "name": "set next step10",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"🚚 Como você prefere receber seu pedido?\",\n\"buttons\": { \"rows\": [\n{ \"id\": \"1\", \"title\": \"Delivery\" },\n{ \"id\": \"2\", \"title\": \"Retirar no local\" }\n]}\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2032,
        448
      ],
      "id": "1b165bd5-2458-4164-ac43-a504c74cc1a0",
      "name": "msg send12",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "285f2d45-de81-4ea9-9841-a3b1b26c7db2",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3744,
        416
      ],
      "id": "4e224e7f-16dd-44f2-8e5d-16fa70366060",
      "name": "router4",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET canceled_at = current_timestamp() WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3152,
        416
      ],
      "id": "638d7b21-8fd3-483b-ae8d-67c98237a0a3",
      "name": "close order3",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"❌ Pedido cancelado com sucesso!  Tudo certo por aqui. Se mudar de ideia mais tarde, é só me chamar — vou estar por aqui pra te ajudar no que precisar. 😊\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -3456,
        416
      ],
      "id": "9311295e-c4fa-4b1a-9d54-f20365ce4783",
      "name": "msg send13",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"Ótimo! Aqui está o resumo do seu pedido:\\n{{ $json.body.products.map((it) => `${it.amount} ${it.name} ${it.notes ?? \"\"}`).join(\"\\\\n\") }}\\n*💰 Total parcial*: R$ {{ $json.body.products.reduce((acc, it) => acc+(it.amount*Number(it.price)), 0).toFixed(2).replace(\".\",\",\") }}\\nSe quiser, você ainda pode fazer ajustes no seu pedido — trocar sabores, adicionar ou remover itens.\\n🧾 Se preferir, também dá pra cancelar o pedido a qualquer momento — sem complicações.\\nFicou do jeitinho que você queria? Se sim, é só seguir para a finalização. Estamos quase lá! 🚀\",\n\"buttons\": { \"rows\": [\n{ \"id\": \"1\", \"title\": \"✏️ Alterar pedido\" },\n{ \"id\": \"2\", \"title\": \"❌ Cancelar\" },\n{ \"id\": \"3\", \"title\": \"✅ Finalizar pedido\" }\n]}\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -3456,
        208
      ],
      "id": "7c1497c8-da2d-4c34-9afa-81fe75348796",
      "name": "msg send14",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "285f2d45-de81-4ea9-9841-a3b1b26c7db2",
                    "leftValue": "={{ $json.body.message }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2032,
        -528
      ],
      "id": "1fc95f1e-8347-4d53-8f77-72c7cfeb1e81",
      "name": "router5",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = 'order_finishing' WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1184,
        -576
      ],
      "id": "8e9636cf-a5d9-41dc-bcc4-90a691d394f7",
      "name": "set next step11",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"Escreva aqui o seu endereço\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -1472,
        -576
      ],
      "id": "9036e899-c669-4997-aea7-24595e2600af",
      "name": "msg send15",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET finished_at = current_timestamp() WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -976,
        -384
      ],
      "id": "9e80a268-4456-4f8e-ba5e-481bf14080d6",
      "name": "close order4",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"Chegue aqui com o número do seu pedido!\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -1472,
        -384
      ],
      "id": "2845cae7-5006-46ce-bcb0-2ab296136344",
      "name": "msg send16",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = \"order_confirmation\" WHERE id = '{{ $('Webhook1').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3216,
        208
      ],
      "id": "93658b4b-aeb4-4159-ab43-39f763fbd521",
      "name": "MySQL4",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bf32139d-ca1f-4d01-bc45-9d4809368fa9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1328,
        -4464
      ],
      "id": "a4858f2c-6f2c-4428-96af-efc8a437dbad",
      "name": "Webhook2",
      "webhookId": "998ea582-5067-4362-b677-96c6f9991a7f",
      "disabled": true
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\n    \"order_id\": \"{{ $json.body.order_id }}\",\n    \"message\": {\n\"main_text\": \"Você ainda está por aí? Seu pedido será encerrado em breve.\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2032,
        -4672
      ],
      "id": "c1aefa1d-8f29-42c1-ac47-9f2b6b889701",
      "name": "AWS Lambda2",
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a23f1da-7809-4d11-b570-11469f313961",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "warn",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2256,
        -4576
      ],
      "id": "9de7665b-c8d0-4282-8724-b45d7774276e",
      "name": "If4"
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\n    \"order_id\": \"{{ $json.body.order_id }}\",\n    \"message\": {\n\"main_text\": \"Obrigado pelo contato, quando precisar é só chamar. Até mais!\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -2032,
        -4464
      ],
      "id": "6b450d18-6aa4-46a5-b40a-7f23619c86ab",
      "name": "AWS Lambda3",
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0e0f95f5-c30b-43e8-b52d-65dc1a1684ee",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2464,
        -4576
      ],
      "id": "5bb99005-81f2-4679-9041-7de491eb2bc9",
      "name": "order timeout1",
      "webhookId": "998ea582-5067-4362-b677-96c6f9991a7f"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -672,
        -4576
      ],
      "id": "f430a215-6d22-490b-a039-b3ac512b305a",
      "name": "AI Agent2",
      "retryOnFail": true,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17-thinking",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        -4352
      ],
      "id": "c5d16083-0b61-4ecb-9a4c-fdb7da41b3a8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "CBVu4Lx7eWRXjPqd",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  var input = item.json.output\n  item.json.body = $('Webhook2').first().json.body\n  for (let i = 0; i < input.length; i++) {\n    for (const itemMenu of item.json.body.menu) {\n      if (input[i].id == itemMenu.id) {\n        input[i].price = itemMenu.price\n      }\n    }\n  }\n  item.json.body.parsedAIResponse = input\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -4592
      ],
      "id": "683dfae0-178c-49cb-9587-c11e00b43849",
      "name": "parse AI response2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = \"confirming_products\" WHERE id = '{{ $('parse AI response').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        384,
        -4592
      ],
      "id": "bb1980b6-f6cb-48a7-b484-9e270fdae24f",
      "name": "MySQL5",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"array\",\n    \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"id\": {\n                \"type\": \"string\"\n            },\n            \"name\": {\n                \"type\": \"string\"\n            },\n            \"amount\": {\n                \"type\": \"integer\"\n            },\n            \"notes\": {\n                \"type\": [\n                    \"string\",\n                    null\n                ]\n            }\n        },\n        \"required\": [\n            \"id\",\n            \"name\",\n            \"amount\",\n            \"notes\"\n        ]\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -528,
        -4352
      ],
      "id": "3e9bdaca-446e-4f7a-a941-1e27eaf64a51",
      "name": "Structured Output Parser2",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40000e36-6e01-48fb-b178-f2422c6abf8d",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        -4544
      ],
      "id": "0645cee8-66df-49f5-a050-3e3743524a54",
      "name": "If5",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Fluxo de finalização de conversa por timeout"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        -4784
      ],
      "id": "eae1bc4d-d101-4c86-a9cd-58f0ad5ec358",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## PoC de seleção de produtos"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        -4896
      ],
      "id": "301a564c-2a32-4520-bfed-2911f89c00d8",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET current_cart = '{{ JSON.stringify($json.output) }}' WHERE id = '{{ $('parse AI response').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        832,
        -4592
      ],
      "id": "a133759a-2704-4e6b-9d81-a36aaa4f493a",
      "name": "MySQL6",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const input = $('parse AI response2').first().json.body.parsedAIResponse\n  const resultArray = []\n  for (let i = 0; i < input.length; i++) {\n    const currentItem = input[i];\n    const jsonString = JSON.stringify(currentItem);\n    const sanitized = jsonString.replace(/'/g, \"''\");\n    resultArray.push(JSON.parse(sanitized));\n  }\n  item.json.output = resultArray\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -4592
      ],
      "id": "cf90015b-99bd-4647-9465-60ded220380b",
      "name": "fixing json field before insert2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39a1b4c9-f0f7-4cfd-9557-fe4fde3f198d",
              "name": "isUpdating",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -4848
      ],
      "id": "1655703f-e192-4115-9fc6-e31bee26630a",
      "name": "set isUpdating to false1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cff6d21-0f0a-4da2-9da5-27478bab6e3e",
              "name": "isUpdating",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -3888
      ],
      "id": "1cf0e5e0-2f11-4555-9143-b96a6f4b4afc",
      "name": "set isUpdating to true1",
      "disabled": true
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:390251560541:function:channel-dispatcher",
        "payload": "={\n    \"order_id\": \"{{ $('insert prompt2').item.json.body.order_id }}\",\n    \"message\": {\n\"main_text\": \"Desculpe, não consegui te entender. Tem certeza de que escolheu um produto do cardápio?\"\n}\n}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -64,
        -4368
      ],
      "id": "ba0643fd-a880-4f57-816f-2ca8f3dd5b07",
      "name": "error dump2",
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "650ad507-8c1c-4569-a38f-b1606e6a3084",
              "name": "chatInput",
              "value": "=Você é um assistente que interpreta pedidos de clientes em linguagem natural e converte em uma lista estruturada de itens de um cardápio.\n\nO cardápio atual é:\n{{ $json.body.menu.map((it) => JSON.stringify({ id: it.id, name: it.name, })).join(\"\\n\") }}\n\nO usuário pode:\n- Adicionar novos itens ao pedido anterior\n- Alterar a quantidade ou detalhes de um item anterior\n- Remover algum item já pedido\n\nSempre retorne a **lista final** completa dos itens do pedido, já atualizada com as alterações solicitadas.\n\nRetorne o resultado em formato JSON com os seguintes campos:\n- id\n- name\n- amount\n- notes (Caso seja necessário, insira aqui observações sobre o produto)\n\nSe necessário, interprete quantidades e modificações mesmo que o cliente não use números diretamente (ex: \"mais um\", \"troque\", \"sem ketchup\", etc.).\n\nFrase do cliente: \"{{ $json.body.message }}\"\n\nItens do pedido anterior:\n{{ $json.body.products.map((it) => JSON.stringify(it)).join(\"\\n\") }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        -4352
      ],
      "id": "9527bfd9-c70e-49e0-a82e-ca9148682268",
      "name": "update prompt2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "650ad507-8c1c-4569-a38f-b1606e6a3084",
              "name": "chatInput",
              "value": "=Você é um assistente que converte pedidos de linguagem natural em itens de um cardápio. \nDado o seguinte cardápio:\n\n{{ $json.body.menu.map((it) => JSON.stringify({ id: it.id, name: it.name, })).join(\"\\n\") }}\n\nRetorne uma lista JSON com os itens mencionados na frase do usuário, contendo os campos:\n- id\n- name\n- amount\n- notes (caso seja necessário, insira aqui observações sobre o produto)\n\nFrase: \"{{ $json.body.message }}\"\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        -4608
      ],
      "id": "f6e1a788-89c2-4e22-babf-3788bb9a3fa7",
      "name": "insert prompt2",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook2').item.json.body.message }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bc7dd4a9-d00b-4bfc-9e2a-adbc2c669d88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8c34068-cc36-47ea-a9ee-4b7d8e365876",
                    "leftValue": "={{ $('Webhook2').item.json.body.message }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Wants to edit"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -896,
        -3888
      ],
      "id": "ee67c9cb-e7b8-4abe-aef9-c056cb80dd9e",
      "name": "check user confirmation1",
      "disabled": true
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:390251560541:function:channel-dispatcher",
        "payload": "={\n    \"order_id\": \"{{ $json.body.order_id }}\",\n    \"message\": {\n\"main_text\": \"Pedido confirmado!\\n\\n*Finalização do pedido da PoC de IA*\"\n}\n}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -592,
        -4096
      ],
      "id": "5e081481-8271-4c36-9ac4-24905422232f",
      "name": "order closing message1",
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET finished_at = current_timestamp() WHERE id = '{{ $('Webhook').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -288,
        -4096
      ],
      "id": "287ad62a-bdac-43e2-a396-a0b52a03dbf1",
      "name": "close order1",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:390251560541:function:channel-dispatcher",
        "payload": "={\n    \"order_id\": \"{{ $('Webhook2').item.json.body.order_id }}\",\n    \"message\": {\n\"main_text\": \"Aperte um botão para selecionar uma opção\"\n}\n}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -592,
        -3696
      ],
      "id": "b8f995a8-d7e7-4553-8f6e-e6dae6ab2d21",
      "name": "invalid response answer1",
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:390251560541:function:channel-dispatcher",
        "payload": "={\n    \"order_id\": \"{{ $json.body.order_id }}\",\n    \"message\": {\n\"main_text\": \"{{ $('propagate isUpdating1').item.json.isUpdating ? \"*Atualizando pedido anterior da PoC de seleção de produtos com IA*\" : \"*Novo pedido iniciado na PoC de seleção de produtos com IA*\" }}\\n\\n{{ $('propagate isUpdating1').item.json.isUpdating ? \"O que você já pediu:\\\\n\" + $json.body.products.map((it) => `*${it.amount}x* ${it.name} - R$ ${it.price} ${it.notes ? \"(\" + it.notes + \")\" : \"\"}`).join(\"\\\\n\") + \"\\\\n\\\\n\" : \"\" }}Segue o nosso cardápio!\\n\\n{{ $json.body.menu.map((it) => `${it.name} - R$ ${it.price}`).join(\"\\\\n\") }}\\n\\nPode digitar naturalmente, nosso atendente vai te entender. 😉\"\n}\n}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -64,
        -4848
      ],
      "id": "e3ed3a7c-c16b-4a1f-becc-efab98e45772",
      "name": "menu listing1",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "494f6447-076b-41d0-a3b4-3e5301bfb039",
              "name": "isUpdating",
              "value": "={{ $json.isUpdating }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -4848
      ],
      "id": "0223bdf4-ea72-4456-97fe-72fcff295ff2",
      "name": "propagate isUpdating1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `order` SET status = '{{ $('propagate isUpdating').item.json.isUpdating ? \"updating_products\" : \"choosing_products\" }}' WHERE id = '{{ $('Webhook').item.json.body.order_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        160,
        -4848
      ],
      "id": "35207b8a-b5bd-4024-b875-2dc61f0acba1",
      "name": "set next step12",
      "credentials": {
        "mySql": {
          "id": "ZfQ3zi3kCp56qosu",
          "name": "MySQL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:390251560541:function:channel-dispatcher",
        "payload": "={\n    \"order_id\": \"{{ $json.body.order_id }}\",\n    \"message\": {\n\"main_text\": \"Pode validar se seu pedido está correto?\\n\\n{{ $json.body.parsedAIResponse.map((it) => `*${it.amount}x* ${it.name} - R$ ${it.price} ${it.notes ? \"(\" + it.notes + \")\" : \"\"}`).join(\"\\\\n\") }}\\n\\nSubtotal: R$ {{ $json.body.parsedAIResponse.reduce((acc, it) => acc+(it.amount*Number(it.price)), 0).toFixed(2) }}\",\n\"buttons\": {\n  \"rows\": [\n{ \"id\": \"1\", \"title\": \"✅ Está tudo certo\" },\n{ \"id\": \"2\", \"title\": \"✏️ Alterar o pedido\" }\n  ]\n}\n    }\n\n}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        160,
        -4592
      ],
      "id": "adda601b-8daa-48e4-a765-16407cee6074",
      "name": "send order confirmation2",
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "function": "arn:aws:lambda:us-east-1:232828718281:function:channel-dispatcher",
        "payload": "={\"order_id\": \"{{ $('Webhook1').item.json.body.order_id }}\", \"message\": { \"main_text\":\n\"📍Código: {{ $('Webhook1').item.json.body.display_id }}\\n📦 Pedido: {{ $('Webhook1').item.json.body.products.map((it) => `${it.amount} ${it.name} ${it.notes ?? \"\"}`).join(\"\\\\n\") }}\\n💸 Total (com taxa): R$ {{ $('Webhook1').item.json.body.products.reduce((acc, it) => acc+(it.amount*Number(it.price)), 0).toFixed(2).replace(\".\",\",\") }}\\n🚚 Modalidade: Retirada\\nEstamos finalizando a criação do seu pedido!\"\n}}"
      },
      "type": "n8n-nodes-base.awsLambda",
      "typeVersion": 1,
      "position": [
        -1184,
        -384
      ],
      "id": "67c84e7e-f28c-45ce-bc3f-e3a208ce8834",
      "name": "msg send17",
      "alwaysOutputData": false,
      "credentials": {
        "aws": {
          "id": "GUrlqaypJqA4TddA",
          "name": "AWS account"
        }
      }
    }
  ],
  "pinData": {
    "order timeout1": [
      {
        "json": {
          "headers": {
            "host": "n8n.copaerp.site",
            "user-agent": "Go-http-client/2.0",
            "content-length": "752",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "75.101.182.181",
            "x-forwarded-host": "n8n.copaerp.site",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1893138af994",
            "x-real-ip": "75.101.182.181"
          },
          "params": {},
          "query": {},
          "body": {
            "channel": "whatsapp",
            "order_id": "264c21fd-88b9-48e7-b653-4a386fe0b2c8",
            "type": "warn"
          },
          "webhookUrl": "https://n8n.copaerp.site/webhook/998ea582-5067-4362-b677-96c6f9991a7f",
          "executionMode": "production"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "n8n.copaerp.site",
            "user-agent": "Go-http-client/2.0",
            "content-length": "2845",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "3.82.51.105",
            "x-forwarded-host": "n8n.copaerp.site",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1893138af994",
            "x-real-ip": "3.82.51.105"
          },
          "params": {},
          "query": {},
          "body": {
            "customer_id": "6186b034-cb04-4f3b-a029-1ac716af6a84",
            "menu": [
              {
                "category": "Lanches",
                "description": "Pão, salsicha, purê de batata, milho, ervilha, batata palha e ketchup",
                "id": "10d7adc1-2b24-40c3-a599-a7241a7e786e",
                "index": "1",
                "name": "Cachorro-Quente Tradicional",
                "price": "14.50"
              },
              {
                "category": "Bebidas",
                "description": "Suco de laranja espremido na hora, sem conservantes",
                "id": "1f363c55-34db-4dca-b586-fcbd5d7f8804",
                "index": "2",
                "name": "Suco Natural de Laranja",
                "price": "8.00"
              },
              {
                "category": "Lanches",
                "description": "Tapioca leve e recheada com frango desfiado e requeijão cremoso",
                "id": "2185006f-8489-4197-a640-dc0f6b0cc3b6",
                "index": "3",
                "name": "Tapioca de Frango com Requeijão",
                "price": "12.00"
              },
              {
                "category": "Sobremesas",
                "description": "Brownie de chocolate meio amargo com bola de sorvete de creme e calda quente",
                "id": "3c21b014-5ce0-4bbe-9431-2e5e5e17f7af",
                "index": "4",
                "name": "Brownie com Sorvete",
                "price": "16.90"
              },
              {
                "category": "Acompanhamentos",
                "description": "Anéis empanados e fritos, sequinhos e crocantes",
                "id": "3e95e6e1-db35-4e01-9472-f7092a43a0e9",
                "index": "5",
                "name": "Anéis de Cebola",
                "price": "12.00"
              },
              {
                "category": "Lanches",
                "description": "Hambúrguer artesanal com queijo prato, bacon crocante e molho especial no pão brioche",
                "id": "3f279d5d-5f64-43da-9ef7-538444d31a93",
                "index": "6",
                "name": "X-Burguer Clássico",
                "price": "24.90"
              },
              {
                "category": "Bebidas",
                "description": "Coca-Cola, Guaraná ou Fanta – 350ml",
                "id": "4eb15b99-05b6-4e3f-8109-14683b282692",
                "index": "7",
                "name": "Refrigerante Lata",
                "price": "6.00"
              },
              {
                "category": "Acompanhamentos",
                "description": "Coxinhas crocantes com recheio de frango temperado, servidas com maionese da casa",
                "id": "86bc8208-f84e-45fd-9eb1-0668b9f6a2c5",
                "index": "8",
                "name": "Mini Coxinhas de Frango",
                "price": "13.00"
              },
              {
                "category": "Lanches",
                "description": "Pão australiano, hambúrguer, cheddar cremoso e cebola caramelizada",
                "id": "a1ef019b-a724-45c3-a1ca-40e32f57a60a",
                "index": "9",
                "name": "Cheddar Melt",
                "price": "22.00"
              },
              {
                "category": "Acompanhamentos",
                "description": "Batatas com casca, crocantes e levemente temperadas com ervas finas",
                "id": "b6f4b6a2-5738-4f64-9054-bcdb9611326c",
                "index": "10",
                "name": "Porção de Batata Rústica",
                "price": "14.00"
              },
              {
                "category": "Sobremesas",
                "description": "Milkshake cremoso de chocolate com pedaços crocantes de Ovomaltine",
                "id": "c32f0f6d-2ddc-41f2-a605-c1bdc648ed0f",
                "index": "11",
                "name": "Milkshake de Ovomaltine",
                "price": "17.90"
              },
              {
                "category": "Acompanhamentos",
                "description": "Nuggets empanados, servidos com molho barbecue",
                "id": "ebae84d7-5051-4e8c-afc8-e2d2d5dea0ea",
                "index": "12",
                "name": "Porção de Nuggets de Frango",
                "price": "13.50"
              }
            ],
            "message": "2 porções de mini coxinhas de frango",
            "order_id": "f1ae66cb-913d-4388-bf23-bce7d6cb25f8",
            "order_last_message_at": "2025-06-24T23:00:22Z",
            "order_status": "choosing_products",
            "products": null,
            "unit_id": "cc7a84b8-6a4d-42ff-bc37-efc00268ffd5"
          },
          "webhookUrl": "https://n8n.copaerp.site/webhook/bf32139d-ca1f-4d01-bc45-9d4809368fa9",
          "executionMode": "production"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.copaerp.site",
            "user-agent": "Go-http-client/2.0",
            "content-length": "3154",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "54.162.188.34",
            "x-forwarded-host": "n8n.copaerp.site",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f569be71e260",
            "x-real-ip": "54.162.188.34"
          },
          "params": {},
          "query": {},
          "body": {
            "customer_id": "6186b034-cb04-4f3b-a029-1ac716af6a84",
            "display_id": "MHSDAWHH9",
            "menu": [
              {
                "category": "Lanches",
                "description": "Pão, salsicha, purê de batata, milho, ervilha, batata palha e ketchup",
                "id": "10d7adc1-2b24-40c3-a599-a7241a7e786e",
                "index": "1",
                "name": "Cachorro-Quente Tradicional",
                "price": "14.50"
              },
              {
                "category": "Bebidas",
                "description": "Suco de laranja espremido na hora, sem conservantes",
                "id": "1f363c55-34db-4dca-b586-fcbd5d7f8804",
                "index": "2",
                "name": "Suco Natural de Laranja",
                "price": "8.00"
              },
              {
                "category": "Lanches",
                "description": "Tapioca leve e recheada com frango desfiado e requeijão cremoso",
                "id": "2185006f-8489-4197-a640-dc0f6b0cc3b6",
                "index": "3",
                "name": "Tapioca de Frango com Requeijão",
                "price": "12.00"
              },
              {
                "category": "Sobremesas",
                "description": "Brownie de chocolate meio amargo com bola de sorvete de creme e calda quente",
                "id": "3c21b014-5ce0-4bbe-9431-2e5e5e17f7af",
                "index": "4",
                "name": "Brownie com Sorvete",
                "price": "16.90"
              },
              {
                "category": "Acompanhamentos",
                "description": "Anéis empanados e fritos, sequinhos e crocantes",
                "id": "3e95e6e1-db35-4e01-9472-f7092a43a0e9",
                "index": "5",
                "name": "Anéis de Cebola",
                "price": "12.00"
              },
              {
                "category": "Lanches",
                "description": "Hambúrguer artesanal com queijo prato, bacon crocante e molho especial no pão brioche",
                "id": "3f279d5d-5f64-43da-9ef7-538444d31a93",
                "index": "6",
                "name": "X-Burguer Clássico",
                "price": "24.90"
              },
              {
                "category": "Bebidas",
                "description": "Coca-Cola, Guaraná ou Fanta – 350ml",
                "id": "4eb15b99-05b6-4e3f-8109-14683b282692",
                "index": "7",
                "name": "Refrigerante Lata",
                "price": "6.00"
              },
              {
                "category": "Acompanhamentos",
                "description": "Coxinhas crocantes com recheio de frango temperado, servidas com maionese da casa",
                "id": "86bc8208-f84e-45fd-9eb1-0668b9f6a2c5",
                "index": "8",
                "name": "Mini Coxinhas de Frango",
                "price": "13.00"
              },
              {
                "category": "Lanches",
                "description": "Pão australiano, hambúrguer, cheddar cremoso e cebola caramelizada",
                "id": "a1ef019b-a724-45c3-a1ca-40e32f57a60a",
                "index": "9",
                "name": "Cheddar Melt",
                "price": "22.00"
              },
              {
                "category": "Acompanhamentos",
                "description": "Batatas com casca, crocantes e levemente temperadas com ervas finas",
                "id": "b6f4b6a2-5738-4f64-9054-bcdb9611326c",
                "index": "10",
                "name": "Porção de Batata Rústica",
                "price": "14.00"
              },
              {
                "category": "Sobremesas",
                "description": "Milkshake cremoso de chocolate com pedaços crocantes de Ovomaltine",
                "id": "c32f0f6d-2ddc-41f2-a605-c1bdc648ed0f",
                "index": "11",
                "name": "Milkshake de Ovomaltine",
                "price": "17.90"
              },
              {
                "category": "Acompanhamentos",
                "description": "Nuggets empanados, servidos com molho barbecue",
                "id": "ebae84d7-5051-4e8c-afc8-e2d2d5dea0ea",
                "index": "12",
                "name": "Porção de Nuggets de Frango",
                "price": "13.50"
              }
            ],
            "message": "2",
            "order_id": "cce1ac59-0423-4719-a19a-680057846266",
            "order_last_message_at": "2025-11-09T23:53:35Z",
            "order_status": "choosing_delivery_method",
            "products": [
              {
                "id": "10d7adc1-2b24-40c3-a599-a7241a7e786e",
                "name": "Cachorro-Quente Tradicional",
                "price": "14.50",
                "amount": 1
              },
              {
                "id": "1f363c55-34db-4dca-b586-fcbd5d7f8804",
                "name": "Suco Natural de Laranja",
                "price": "8.00",
                "amount": 1
              },
              {
                "id": "3c21b014-5ce0-4bbe-9431-2e5e5e17f7af",
                "name": "Brownie com Sorvete",
                "price": "16.90",
                "amount": 1
              }
            ],
            "unit_id": "cc7a84b8-6a4d-42ff-bc37-efc00268ffd5"
          },
          "webhookUrl": "https://n8n.copaerp.site/webhook/bf32139d-ca1f-4d01-bc45-9d4809368fa9",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "start stage process": {
      "main": [
        [
          {
            "node": "set isUpdating to false1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert prompt2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update prompt2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check user confirmation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "start stage process1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send": {
      "main": [
        [
          {
            "node": "set next step1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start stage process1": {
      "main": [
        [
          {
            "node": "get business name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "starting_answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert prompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update prompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "router1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "router2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "search order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get business name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "router3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "router4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "router5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send1": {
      "main": [
        [
          {
            "node": "set next step2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get business name": {
      "main": [
        [
          {
            "node": "msg send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "starting_answer": {
      "main": [
        [
          {
            "node": "msg send1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get address",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send2": {
      "main": [
        [
          {
            "node": "set next step3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send3": {
      "main": [
        [
          {
            "node": "set next step4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send4": {
      "main": [
        [
          {
            "node": "set next step5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send5": {
      "main": [
        [
          {
            "node": "set next step6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get address": {
      "main": [
        [
          {
            "node": "msg send3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "router": {
      "main": [
        [
          {
            "node": "msg send1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get business name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "router1": {
      "main": [
        [
          {
            "node": "msg send1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get business name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "router2": {
      "main": [
        [
          {
            "node": "msg send7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get business name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send7": {
      "main": [
        [
          {
            "node": "close order2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send8": {
      "main": [
        [
          {
            "node": "set next step7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search order": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "msg send8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send9": {
      "main": [
        [
          {
            "node": "set next step7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error dump1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "parse AI response1": {
      "main": [
        [
          {
            "node": "send order confirmation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "main": [
        [
          {
            "node": "fixing json field before insert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "parse AI response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error dump1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fixing json field before insert1": {
      "main": [
        [
          {
            "node": "MySQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update prompt1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert prompt1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send order confirmation1": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send10": {
      "main": [
        [
          {
            "node": "set next step8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send11": {
      "main": [
        [
          {
            "node": "set next step9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send12": {
      "main": [
        [
          {
            "node": "set next step10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "router3": {
      "main": [
        [
          {
            "node": "msg send10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send13": {
      "main": [
        [
          {
            "node": "close order3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "router4": {
      "main": [
        [
          {
            "node": "msg send14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send15": {
      "main": [
        [
          {
            "node": "set next step11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "router5": {
      "main": [
        [
          {
            "node": "msg send15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg send16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send16": {
      "main": [
        [
          {
            "node": "msg send17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send14": {
      "main": [
        [
          {
            "node": "MySQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "start stage process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "AWS Lambda2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AWS Lambda3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order timeout1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error dump2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "parse AI response2": {
      "main": [
        [
          {
            "node": "send order confirmation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL5": {
      "main": [
        [
          {
            "node": "fixing json field before insert2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "parse AI response2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error dump2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fixing json field before insert2": {
      "main": [
        [
          {
            "node": "MySQL6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set isUpdating to false1": {
      "main": [
        [
          {
            "node": "propagate isUpdating1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set isUpdating to true1": {
      "main": [
        [
          {
            "node": "propagate isUpdating1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update prompt2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert prompt2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check user confirmation1": {
      "main": [
        [
          {
            "node": "order closing message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set isUpdating to true1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "invalid response answer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order closing message1": {
      "main": [
        [
          {
            "node": "close order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menu listing1": {
      "main": [
        [
          {
            "node": "set next step12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "propagate isUpdating1": {
      "main": [
        [
          {
            "node": "menu listing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send order confirmation2": {
      "main": [
        [
          {
            "node": "MySQL5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg send17": {
      "main": [
        [
          {
            "node": "close order4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18ffd400-d1b2-4360-95eb-53d2323ab0a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7201b7a93db9e3abe28a42613ca84e2655d19adbe27f2cdc95ed05631266c3bf"
  },
  "id": "ffBBScaquwVvu8Wk",
  "tags": []
}